@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swiper-slide {
  height: calc((100% - 30px) / 2) !important;
}

.swiper {
  height: 950px;
} */

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizedLegibility;
}

@layer components {
    :focus {
    outline: transparent;
    box-shadow: 0 0 0 1px #764fd0;
  }

  nav {
    backdrop-filter: blur(15px);
  }
  
  html {
    scroll-behavior: smooth;
  }

    }
